src/ontology/build
src/ontology/validate-using-oort
src/ontology/ro.owl
src/ontology/ro.obo
src/ontology/ro.json
src/ontology/ro-base.*
*.tmp.ttl
src/ontology/gen-universal-from-homeomorphy.owl
catalog-v001.xml
.DS_Store
src/ontology/ro-lastbuild.owl
.DS_Store
semantic.cache
bin/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/reports/*
src/ontology/ro.owl
src/ontology/ro.obo
src/ontology/ro.json
src/ontology/ro-base.*
src/ontology/ro-basic.*
src/ontology/ro-full.*
src/ontology/ro-simple.*
src/ontology/ro-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-ro-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt

target/
src/ontology/core.owl
src/ontology/imports/orcidio_terms.txt
