src/ontology/build
src/ontology/validate-using-oort
src/ontology/ro.owl
src/ontology/ro.obo
src/ontology/ro.json
src/ontology/ro-base.*
*.tmp.ttl
src/ontology/gen-universal-from-homeomorphy.owl
catalog-v001.xml
.DS_Store
src/ontology/ro-lastbuild.owl
